on:
  push:
    branches:
    - main
    - release/*


    on:
  pull_request:
    branches:
    - main


    on:
  schedule:
  - cron: "0  2 * * 1-5"


  jobs:
  my_job:
    name: deploy to staging
    runs-on: ubuntu-22.04
